@model Application.ViewModel.PersonDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Sil</h1>

<h3>Bu kişi silmeyi onaylıyor musunuz?</h3>
<div>
    <h4>Kişi Detayları</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Rehbere Dön</a>
    </form>
</div>
